.Topbar {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 1.5rem 0 3rem 0;
}

.keep img {
	height: 3rem;
	width: 3rem;
}

.react img {
	height: 2.85rem;
	width: 2.85rem;
}

.firebase img {
	height: 2.65rem;
}

.plus {
	padding: 0 0.9rem;
}
